* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.8s ease-in-out;
}

/* Fonten som används på sidan */
body {
  font-family: inter;
}

/* Utseende för Logotypen */
div#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0 70px 0;
}

#logo img {
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

/* Utseende för Head sektionen */
section#head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.headDivs:hover {
  transform: scale(1.05);
}

.headDivs {
  background: #5690e9;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 70px 0;
}

a {
  text-decoration: none;
  color: #000;
}

.headDivs img {
  width: 320px;
  height: 150px;
  border-radius: 30px 30px 0px 0px;
}

.headDivs h2 {
  text-align: center;
  margin: 10px;
}

.headDivs p {
  width: 250px;
  height: 100px;
  margin: 0 11% 10px;
  text-align: center;
}

/* Utseende för about us sektionen */
section#aboutus {
  height: 700px;
  margin: 0 0 50px 0;
  background: #84ceeb;
  display: flex;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 0);
}

div#aboutusText {
  width: 580px;
  margin: 100px 100px;
}

#aboutusText p {
  margin: 15px 0 0 0;
}

div#aboutusImg {
  margin: 0 50px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutusImg img {
  width: 320px;
  aspect-ratio: 1;
  border-radius: 50%;
}

/* Utseende för webutvekling sektionen */
section#web {
  height: 700px;
  margin: 0 0 50px 0;
  background: #fefca9;
  display: flex;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
}

div#webImg {
  margin: 0 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#webImg img {
  width: 320px;
  aspect-ratio: 1;

  border-radius: 50px;
}

div#webText {
  margin: 220px 30px 0;
  max-width: 650px;
}

#webText p {
  margin: 15px 0 0 0;
}

/* Utseende för Pc-Teknik sektionen */
section#pc {
  height: 700px;
  margin: 0 0 50px 0;
  background: #84ceeb;
  display: flex;
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
}

div#pcText {
  margin: 200px 100px;
  width: 580px;
  height: 200px;
}

#pcText p {
  margin: 15px 0 0 0;
}

div#pcImg {
  margin: 0 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pcImg img {
  width: 320px;
  aspect-ratio: 1;

  border-radius: 50px;
}

/* Utseende för arbete sektionen */
section#arbetet {
  height: auto;
  padding-top: 200px;
  background: #84ceeb;
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0, 50% 140px);
}

#arbetet h2 {
  text-align: center;
  height: 50px;
  min-width: 200px;
}

section#arbetet > p {
  margin: 30px 15%;
  justify-content: center;
}

.parent {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(4);
}

.parent div {
  background-color: #7badf9;
  padding: 20px;
  margin: 0 50px 50px;
  border-radius: 20px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.div7 {
  grid-area: 4 / 1 / 5 / 2;
}
.div8 {
  grid-area: 4 / 2 / 5 / 3;
}

/* Utseende för Kontakt sektionen */
section#kontakt {
  background: #5680e9;
  height: 600px;
}

div#first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#first img {
  width: 150px;
  height: 150px;
  margin: 50px 0 20px 0;
}

div#second {
  margin: 30px 0 50px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0 0 10px 0;
  height: 25px;
}

textarea {
  margin: 0 0 10px 0;
}

input#skicka {
  width: 150px;
  height: 30px;
}

/* Utseende för skärmar under 1000px */
@media only screen and (max-width: 1000px) {
  section#aboutus {
    height: 600px;
    margin: 0 0 50px 0;
    background: #84ceeb;
    display: flex;
    flex: 1;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 0);
  }

  div#aboutusText {
    margin: 50px 20px;
  }

  div#aboutusImg {
    width: 200px;
  }

  #aboutusImg img {
    scale: 1;
  }

  section#web {
    height: 600px;
    margin: 0 0 50px 0;
    background: #fefca9;
    display: flex;
    flex: 1;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
  }

  div#webImg {
    width: 200px;
    height: 70%;
  }

  #webImg img {
    scale: 1;
  }

  div#webText {
    margin: 100px 20px;
  }

  section#pc {
    height: 600px;
    display: flex;
    flex: 1;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
  }

  div#pcText {
    height: 400px;
    margin: 100px 20px;
  }

  div#pcImg {
    width: 200px;
    height: 70%;
  }

  #pcImg img {
    scale: 1;
  }

  section#arbetet {
    height: auto;
    padding-top: 100px;
    background: #84ceeb;
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0, 50% 60px);
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .parent div {
    padding: 20px;
    background-color: #7badf9;
    border-radius: 20px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div7 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div8 {
    grid-area: 8 / 1 / 9 / 2;
  }
}

@media only screen and (max-width: 606px), (max-width: 1000px) {
  div#aboutusImg,
  div#webImg,
  div#pcImg {
    width: 200px;
    transition: width 0.8s ease-in-out;
  }

  #aboutusImg img,
  #webImg img,
  #pcImg img {
    width: 200px;
    transition: width 0.8s ease-in-out;
  }

  div#webImg {
    margin: 0 50px;
  }
}

/* Utseende för skärmar under 600px */
@media only screen and (max-width: 600px) {
  div#aboutusImg,
  div#webImg,
  div#pcImg {
    margin: 0;
    width: 0;
    transition: width 0.8s ease-in-out;
  }

  #aboutusImg img,
  #webImg img,
  #pcImg img {
    width: 0;
    transition: width 0.8s ease-in-out;
  }
}
